* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    background-color: #F3F3F3;
}

.sidebar {
    width: 250px;
    background-color: #131931;
    color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h3 {
    font-size: 1.5em;
    color: #FFFFFF;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 20px;
}

.nav, .bottom-links {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav li, .bottom-links a {
    margin-bottom: 8px;
}

.nav-link, .bottom-link {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

.nav-link:hover, .bottom-link:hover {
    background-color: #F3DF7B;
    color: #131931;
}

.ph-light {
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    background-color: #FFFFFF;
    padding: 20px;
    width: calc(100vw - 270px);
}

.bottom-links {
    margin-top: auto;
}