* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body, html {
    height: 100%;
    display: flex;
    background-color: #F3F3F3;
}

.sidebar {
    width: 270px;
    background-color: #131931;
    color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    font-size: 1.5em;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.nav, .bottom-links {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-link, .bottom-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.nav-link.active, .nav-link:hover, .bottom-link:hover {
    background-color: #F3DF7B;
    color: #131931;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

.player-table {
    flex-grow: 1; 
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex: 1;
}

.filter select {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    padding: 8px 10px;
    border-radius: 20px; 
    color: #333;
    font-size: 0.9em;
    flex-grow: 1;
}

.filter button {
    background-color: #F3DF7B; 
    color: #131931; 
    border: none;
    padding: 8px 20px;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.filter button:hover {
    background-color: #E6C065; 
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
}

th, td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
}

.pagination button {
    background-color: #131931;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
}

.pagination button:hover {
    background-color: #F3DF7B;
}

.bottom-links button.bottom-link {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bottom-links button.bottom-link:hover {
    background-color: #F3DF7B;
    color: #131931;
}