/* Sidebar Styles */
.sidebar {
    width: 270px;
    background-color: #131931;
    color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    font-size: 1.5em;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

}