* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131931;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    padding: 20px; 
}

.logo {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.signup {
    width: 70%;
    flex-grow: 1;
}

h2 {
    color: #131931;
    margin-bottom: 20px;
    font-weight: 800;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #131931;
    border-radius: 50px;
    width: 280px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    flex-grow: 1;
    background-color: #131931;
    color: #fff;
    border: none;
    padding: 8px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    width: 50%;
}

.tab.active {
    background-color: #F3DF7B;
    color: #131931;
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
}

.btn-btn-success-w-100 {
    width: 100%;
    background-color: #131931;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.right-section {
    flex: 1.5;
    background-color: #131931;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.g-logo {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
    height: auto;
}

.torch-icon {
    position: absolute;
    right: -45px;
    bottom: -80px;
    width: 945px;
    height: 830px;
    opacity: 0.1;
}

.info {
    padding-left: 5px;
    text-align: left;
    max-width: 90%;
}

.info h3 {
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.info p {
    font-size: 16px;
    color: #F3DF7B;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.extra-options label {
    color: #131931;
}

.extra-options .forgot-password {
    color: #131931;
    text-decoration: none;
}

.extra-options .forgot-password:hover {
    text-decoration: underline;
}
